body{
    height: 300px;
    width: 300px;
    padding: 5px 30px;
    font-size: 20px;
    /* display: flex; */
   
}
 
img{
    height: 100px;
    width:100px;
    justify-content: center;
    display: flex;
}

.text{
    display: inner-flex;
    border:solid 1px;
    padding: 12px;
    background-color:#04AA6D;
    border-radius: 3px;
    color: #ffff;
}

.pub{
    font-size: 15px;
    padding-bottom: 10px;
    
}

.span{
    background-color:powderblue;
}