@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Comfortaa', cursive;
  background-color: black;
  color: white;
  overflow-x: hidden;
}



.container{
  width: 1280px;
  margin: auto;
}

header{border-bottom: 5px solid orange;}

#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 70px;
  padding: 0 20px;
}

#header h2{font-size: 2rem;}

#search_box{
  position: relative;
  width: 350px;
}

#search_box input{
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
  padding: 8px;
  border-radius: 25px;
  outline: none;

  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
  border: 1px solid #DDDDDD;
}
 
input:focus{
  box-shadow: 0 0 5px orange;
  border: 1px solid orange;
}

#search_box i{
  color: black;
  position: absolute;
  cursor: pointer;
  top: 25%;
  right: 4%;
  transition: 1s;
}

#search_box i:hover{color: orange;}

#grid{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.img{
  width: 380px;
  height: 214px;
  margin-top: 15px;
  background-position: center;
  background-size: cover;
  border-radius: 2px;
  cursor: pointer;
}

@media(max-width:1280px){
 .container{width: 100%;}
}

@media(max-width:768px){
  #main{width: 95%;}

  .img{width: 100%;}

  #header{
    margin: 10px 0;
    padding: 20px;
    gap: 10px;
    justify-content: center;
  }

  #header h2{padding: 5px 0;}
}

@media(max-width:480px){
  #header h2{
    text-align: center;
    font-size: 1.5rem;
  }

  #search_box{
    width: 80%;
    margin: auto;
  }

  #search_box input{font-size: .7rem;}
}
