body {
    width: 800px;
    height: 500px;
    background-color: transparent;
}

#container{
    padding-top: 30px;
}

#container > div{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#container > div > strong,
#container > div > p{
    width: 10%;
}