body {
  width: 350px;
  height: 350px;
  background-color: rgb(236, 233, 233);
  display: flex;
  justify-content: center;
}
p {
  display: inner-flex;
  margin: auto 10px;
  font-size: 22px;
  border-radius: 6px;
  border: 1px solid lightblue;
  padding: 12px 10px;
}

img {
  width: 460px;
  height: 380px;
  display: block;
  padding: 12px;
}
