.rainbow {
    animation : rainbow 600ms;
    animation-iteration-count: infinite;

}

@keyframes rainbow {

    0%{
        color: red;
    }
    15%{
        color: orange;
    }
    30%{
        color: yellow;
    }
    45%{
        color: green;
    }
    60%{
        color: blue;
    }
    75%{
        color:indigo;
    }
    90%{
        color: violet;
    }
}
