body{
    width: 300px;
    height: 400px;
    background-color:rgb(189, 44, 44);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

}
p {
    display: block;
    margin: auto 10px;
    font-size: 22px;
    color:white;
    border-radius: 6px;
    padding: 10px;
    margin:0;
}
img{
    margin-top:20px;
    width: 160px;
    height: 160px; 
    display: block;
    background-color: white;
    border-radius: 50%;
    border: 2px solid black;
    padding: 10px;
}

h1 {
font-size:30px;
color:white;
}



