*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 25rem;
    width: 25rem;
    background: linear-gradient(
        #e92e3d,
        #ff6e6a
    ) 0 100% no-repeat;
    background-size: 100% 50%;
}
.container{
    width: 400px;
    padding: 50px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    box-shadow: 0 15px 25px rgba(50,50,50,0.15);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins",sans-serif;
}
.dice-wrapper{
    width: 90%;
    display: flex;
    justify-content: space-around;
}
p{
    font-size: 16px;
    margin: 30px 0;
    font-weight: 500;
}
button{
    background-color: #e92e3d;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 15px 0;
    width: 150px;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
}
.shake{
    animation: shake 0.5s infinite;
}
@keyframes shake{
    0%{
        transform: rotate(8deg);
    }
    50%{
        transform: rotate(-8deg);
    }
    100%{
        transform: rotate(8deg);
    }
}